# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django development
*.log
*.pot
*.pyc
db.sqlite3
.env

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/

